<div class="container">
 <h4>商品編集</h4>

 <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>
 <div class="row mt-4">
  <div class="col-6">
   商品画像
  </div>
  <div class="col-6 ml-5">
   <%= f.file_field :image, accept: "image/*" %>
  </div>
 </div>
 <div class="row mt-4">
  <div class="col-6">
   商品名
  </div>
  <div class="col-6 ml-5">
   <%= f.text_field :name %>
  </div>
 </div>
 <div class="row mt-4">
  <div class="col-6">
   商品説明
  </div>
  <div class="col-6 ml-5">
   <%= f.text_area :introduction %>
  </div>
 </div>
 <div class="row mt-4">
  <div class="col-6">
   ジャンル
  </div>
  <div class="col-6 ml-5">
   <%= f.collection_select(:genre_id, Genre.all, :id, :name) %>
  </div>
 </div>
 <div class="row mt-4">
  <div class="col-6">
   税抜価格
  </div>
  <div class="col-6 ml-5">
   <%= f.text_field :price %>
  </div>
 </div>
 <div class="row mt-4">
  <div class="col-6">
   販売ステータス
  </div>
  <div class="col-6 ml-5">
     <%= f.radio_button :is_active, true %>
     <%= f.label :is_active, "販売中" %>
     <%= f.radio_button :is_active, false %>
     <%= f.label :is_active, "販売停止中" %>
  </div>
 </div>

  <%= f.submit '変更を保存', class: "btn btn-success ml-5" %>

<% end %>
</div>
