<div>
  <h3><%= @customer.full_name %>さんの会員詳細</h3>
</div>

<p>会員ID</p>
 <%= @customer.id %>
<p>氏名</p>
 <%= @customer.last_name %>
 <%= @customer.first_name %>
<p>フリガナ</p>
 <%= @customer.last_name_kana %>
 <%= @customer.first_name_kana %>
<p>郵便番号</p>
 <%= @customer.postal_code %>
<p>住所</p>
 <%= @customer.address %>
<p>電話番号</p>
 <%= @customer.telephone_number %>
<p>メールアドレス</p>
 <%= @customer.email %>
<p>会員ステータス</p>
 <%= @customer.is_active, [['有効', true], ['無効', false]] %>

<p><%= link_to "編集する", edit_admin_customer_path(customer.id) %></p>
<p><%= link_to "注文履歴一覧を見る", admin_path %></p>
