<h4>注文履歴一覧<h4>

<% @order_details.each do |order_detail| %>

  <p>購入日時</p>
   <span>
    <%= link_to edit_admin_orders_path do %>
     <%= order_detail.order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
    <% end %>
   </span>
  <p>購入者</p>
    <span><%= order_detail.order.name %></span>
  <p>注文個数</p>
    <span><%= order_detail.quantity %></span>
  <p>注文ステータス</p>
    <span><%= order_detail.order.status_i18n %></span>

<% end %>