<h4>注文情報入力</h4>

<%= form_with model: @order, url: confirmation_path, method: :post do |f| %>

  <h5>支払方法</h5>

    <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>

    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>

  <h5>お届け先</h5>
    <%= f.radio_button :select_address, 0 %>
    <%= f.label :select_address_0, "ご自身の住所" %>
    <%= current_customer.address_display %>

    <%= f.radio_button :select_address, 1 %>
    <%= f.label :select_address_1, "登録先の住所" %>
    <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>

    <%= f.radio_button :select_address, 2 %>
    <%= label :select_address_2, "新しいお届け先" %>
    <%= f.label :post_code, "郵便番号" %>
    <%= f.text_field :post_code %>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name %>
    <%= f.submit "確認画面へ進む" %>


<% end %>