<div class="container">
    <strong>商品一覧</strong>(全<%= @items.count %>件)

    <div class="row">
      <% @items.each do |item| %>
        <div class="col-3">
          <div>
          <%= link_to item_path(item.id) do %>
          <%= image_tag item.image, size: "100x100" %>
          <% end %>
          </div>

         <%= item.name %></br>

         ￥<%= item.with_tax_price %></br>
        </div>

      <% end %>
    </div>
  <%= paginate @items %>
</div>